@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@font-face{font-family:"posidonsans";src:url("PosidonSans.ttf");}
@keyframes alpha-in{from{opacity:0;}to{opacity:100%;}}
*{scrollbar-width:thin;font-weight:normal;font-family:posidonsans;max-width:100%;}
body{background-color:#000000;color:#c0d0de;max-width:1080px;margin-left:auto;margin-right:auto;}
a{outline:0;text-decoration-color:#17C25B;color:unset;text-decoration-thickness:2px;}
::-moz-selection,::selection{color:#b0ffff;background-color:#003940;border-radius:10px;}
p{text-align:left;font-size:16px;animation:alpha-in .8s;}
h1{color:#ffffff;font-size:56px;margin-top:72px;margin-bottom:32px;font-weight:normal;animation:alpha-in .4s;}
h2{color:#ffffff;font-size:24px;display:inline-block;}
h3{text-align:left;color:#ffffff;font-size:20px;animation:alpha-in .6s;font-family:'Lexend Deca',sans-serif;}
.slogan{color:#abbccd;font-size:24px;display:inline-block;animation-name:alpha-in;animation-duration:.4s;font-family:'Lexend Deca',sans-serif;}
.topRight{
    color:#E1E2E3;
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    margin-top:14px;
    margin-bottom:20px;
    margin-left:-8px;
    border-radius:56px;
    display:inline-block;
    float:right;
    text-decoration:none;}
.topRight:hover{
	background:#111213;
	box-shadow:inset 0 0 0 1px #1D1E1F;}
.topRightIcon{
    display:block;
    float:right;
    margin-top:14px;
    margin-bottom:20px;
    margin-left:8px;
    margin-right:8px;}
.btn{
    color:#6d727a;
    font-size:16px;
	box-shadow:inset 0 0 0 1px #1D1E1F;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    margin-top:14px;
    margin-bottom:20px;
    margin-left:8px;
    margin-right:8px;
    border-radius:56px;
	vertical-align:middle;
    text-decoration:none;}
.btn:hover{
    color:#8d929a;
	background:rgba(17,85,255,.33);}
.btn *{vertical-align:middle;display:inline;}
.btn.highlighted{
    color:#5388ff;
	background:rgba(17,85,255,.12);
	box-shadow:inset 0 0 0 1px rgba(17,85,255,.33);}
.btn.highlighted:hover{
    color:#53a0ff;
	background:rgba(17,85,255,.16);
	box-shadow:inset 0 0 0 1px rgba(17,100,255,.55);}
.copyright{
	color:#21272d;
	font-size:14px;
	text-align:center;}
@keyframes c{0% {padding:0px;}100% {padding:15px;}}
@keyframes ci{0%{padding:15px;}100%{padding:0px;}}
.productCard{
	background:rgba(13,18,22,.67);
	border:solid 1.5px #1d222a;
	border-radius:18px;
	text-align:left;
	animation:ci;
	animation-duration:.1s;}
.productCard *{vertical-align:middle;}
.productCard:hover{
	animation:c;
	animation-duration:.1s;
	padding:15px;}
.productCard h2{margin:4px;text-shadow:rgba(0,0,10,.3) 0 1px .5px;}
.productCard p{
	color:rgba(220,255,255,.5);
	margin:4px;
	text-shadow:rgba(0,0,10,.3) 0 1px .3px;}
.productCard div{display:inline-block;}
.productCardA{
	display:block;
	width:100% - 32px;
	max-width:630px;
	margin-right:32px;
	margin-left:32px;
	margin-top:32px;
	margin-bottom:32px;
    text-decoration:none;}
.card{
	background:rgba(13,18,22,.67);
	border:solid 1.5px #1d222a;
	margin-right:32px;
	margin-left:32px;
	margin-top:32px;
	margin-bottom:32px;
	padding:15px;
	border-radius:18px;
	text-align:left;
	width:100% - 32px;
	max-width:630px;}
.card h2{margin:4px;text-shadow:rgba(0,0,10,.3) 0 1px .5px;}
.card p{color:rgba(220,255,255,.5);margin:4px;}
.absoluteCenter{
	text-align:center;
	vertical-align:middle;
	position:fixed;
	top:50%;left:50%;
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);}
@media only screen and (max-width:700px){
	.topRight{
		animation:none;
	    padding-left:16px;
	    padding-right:16px;
		margin-left:4px;
		margin-right:4px;
		border-radius:56px;
		font-size:14px;}
	.topRight:hover{
		animation:none;
		padding-left:16px;
		padding-right:16px;}}
.mobile{display:none;}
@media only screen and (max-width:580px){
    h1{
		color:#ffffff;
		font-size:48px;
		margin-top:72px;
		margin-bottom:32px;
		font-weight:normal;}
    .topRight{display:none;}.topRightIcon.mobile{display:block;}
	.productCard{
		animation:none;
		border-radius:25px;
		width:100%;
		text-align:center;}
	.productCardA{
		margin-right:0px;
		margin-left:0px;}
	.productCard img{
		display:block;
    	margin-left:auto;
    	margin-right:auto;
		margin-bottom:-28px;}
	.productCard div{margin: 20px;}
	.productCard:hover{animation:none;padding:0;}}
