@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@font-face {
    font-family: "posidonsans";
    src: url("PosidonSans.ttf");
}

@keyframes alpha-in-faded {
    from {opacity: 0;}
    to {opacity: 60%;}
}
@keyframes alpha-in {
    from {opacity: 0;}
    to {opacity: 100%;}
}

body {
    background-color: #000000;
    color: #c0d0de;
}

* {
    font-weight: normal;
    font-family: posidonsans;
}

card1 {
    background-color: #252627;
    color: #ffffff;
    border-radius: 20px;
    padding: 12px;
}

a { text-decoration: none; outline: 0; }

.heroImg {
    max-width: 90%;
    width: 360px;
    height: auto;
    margin: 12px;
    vertical-align: middle;
	animation-name: alpha-in;
	animation-duration: 0.4s;
}

.screenshot {
    display: inline-block;
    background-color: #252627;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: solid rgba(255, 255, 255, 0.15) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.4) 1px;
    border-radius: 25px;
    max-width: 50%;
    width: 256px;
    height: 553px;
    margin: 12px;
    vertical-align: middle;
	animation-name: alpha-in;
	animation-duration: 0.4s;
}

.screenshot.faded {
    display: inline-block;
    background-color: #111213;
    border-radius: 20px;
    max-width: 40%;
    width: 192px;
    height: 414px;
    opacity: 60%;
    vertical-align: middle;
    animation-name: alpha-in-faded;
    animation-duration: 1s;
}

::-moz-selection {
    color: #b0ffff;
    background-color: #003940;
    border-radius: 10px;
}

::selection {
    color: #b0ffff;
    background-color: #003940;
    border-radius: 10px;
}

p {
    text-align: left;
    font-size: 16px;
    animation-name: alpha-in;
    animation-duration: 0.8s;
}

h3 {
	text-align: left;
	color: #ffffff;
	font-size: 20px;
	animation-name: alpha-in;
	animation-duration: 0.6s;
	font-family: 'Lexend Deca', sans-serif;
}

h2 {
	color: #ffffff;
	font-size: 24px;
	display: inline-block;
}

.slogan {
	color: #ffffff;
	font-size: 24px;
	display: inline-block;
	animation-name: alpha-in;
	animation-duration: 0.4s;
	font-family: 'Lexend Deca', sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 56px;
	margin-top: 72px;
	margin-bottom: 32px;
	font-weight: normal;
}

@keyframes b {
    from {
        padding-left: 20px;
        padding-right: 20px;
    } to {
        padding-left: 26px;
        padding-right: 26px;
    }
}
@keyframes bi {
    to {
        padding-left: 20px;
        padding-right: 20px;
    } from {
        padding-left: 26px;
        padding-right: 26px;
    }
}
.topRight {
    animation: bi;
    animation-duration: 0.2s;
    background-color: #111213;
    color: #eeeeee;
    border-top: solid #252627 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 36px;
    display: inline-block;
    float: right;
    text-shadow: rgba(0, 0, 10, 0.3) 0 1px 0.5px;
}.topRight:hover {
    animation: b;
    animation-duration: 0.2s;
    border-top: solid #232834 1px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: #11151f;
    color: #d0e0ff;
}

.downloadBtn {
    animation: bi;
    animation-duration: 0.2s;
    background-image: linear-gradient(to bottom, #0088ff, #1166ff);
    color: #ffffff;
    border-top: solid #11aaff 1px;
    border-bottom: solid #0033aa 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 36px;
    text-shadow: rgba(0, 0, 10, 0.3) 0 1px 0.5px;
}.downloadBtn:hover {
    animation: b;
    animation-duration: 0.2s;
    padding-left: 26px;
    padding-right: 26px;
    background-image: linear-gradient(to bottom, #11aaff, #1188ff);
    border-top: solid #22ddff 1px;
    border-bottom: solid #1133aa 1px;
}.downloadBtn:active {
    animation: b;
    animation-duration: 0.2s;
    padding-left: 26px;
    padding-right: 26px;
    background-image: linear-gradient(to bottom, #11aaff, #1188ff);
    border-top: solid #22ddff 1px;
    border-bottom: solid #1133aa 1px;
}

.otherLinkBtn {
    animation: bi;
    animation-duration: 0.2s;
    background-image: linear-gradient(to bottom, #8800ff, #6611ff);
    color: #ffffff;
    border-top: solid #aa11ff 1px;
    border-bottom: solid #3300aa 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 36px;
    text-shadow: rgba(0, 0, 10, 0.3) 0 1px 0.5px;
}.otherLinkBtn:hover {
    animation: b;
    animation-duration: 0.2s;
    padding-left: 26px;
    padding-right: 26px;
    background-image: linear-gradient(to bottom, #aa11ff, #8811ff);
    border-top: solid #dd22ff 1px;
    border-bottom: solid #3311aa 1px;
}.otherLinkBtn:active {
    animation: b;
    animation-duration: 0.2s;
    padding-left: 26px;
    padding-right: 26px;
    background-image: linear-gradient(to bottom, #aa11ff, #8811ff);
    border-top: solid #dd22ff 1px;
    border-bottom: solid #3311aa 1px;
}

.getitongoogleplay {
	animation-name: alpha-in;
	animation-duration: 1.5s;
}

.carousel {
	margin-top: 48px;
	min-height: 550px;
}

.copyright {
	color: #21272d;
	font-size: 14px;
	text-align: center;
}


@keyframes c {
    from { padding: 0px; }
    to { padding: 18px; }
}
@keyframes ci {
    from { padding: 18px; }
    to { padding: 0px; }
}

.productCard {
	background-color: #111213;
	margin-right: 32px;
	margin-left: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	border-radius: 18px;
	text-align: left;
	width: 100% - 32px;
	max-width: 630px;
	animation: ci;
	animation-duration: 0.1s;
}.productCard * {
	vertical-align: middle;
}.productCard:hover {
	animation: c;
	animation-duration: 0.1s;
	padding: 18px;
}

@media only screen and (max-width: 550px) {
    .screenshot {
        background-color: #252627;
        border-radius: 20px;
        max-width: 90%;
        width: 256px;
        margin: 0px;
    }
    h1 { display: none; }
    .topRight {
        float: none;
        display: block;
        padding-right: 22px;
        padding-left: 22px;
    }
    .topRight:hover {}
    .topRight:active {
        animation: b;
        animation-duration: 0.2s;
        padding-left: 26px;
        padding-right: 26px;
    }
    @keyframes b {
        from {
            padding-left: 22px;
            padding-right: 22px;
        } to {
            padding-left: 26px;
            padding-right: 26px;
        }
    }
    @keyframes bi {
        to {
            padding-left: 22px;
            padding-right: 22px;
        } from {
            padding-left: 26px;
            padding-right: 26px;
        }
    }
	.productCard {
		margin-right: 0px;
		margin-left: 0px;
		border-radius: 25px;
		width: 100%;
		text-align: center;
	}
	.productCard img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
		margin-bottom: -28px;
	}
	
	@keyframes c {
	    from {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	    to {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	
	@keyframes ci {
	    to {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	    from {
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}
	
	.productCard:hover {
		padding: 0;
		padding-top: 18px;
		padding-bottom: 18px;
	}
}


@media only screen and (max-width: 750px) {
    .screenshot.faded {
        display: none;
    }
}