@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@font-face {
    font-family: "posidonsans";
    src: url("PosidonSans.ttf");
}

@keyframes alpha-in-faded {
    from {opacity: 0;}
    to {opacity: 60%;}
}
@keyframes alpha-in {
    from {opacity: 0;}
    to {opacity: 100%;}
}

body {
    background-color: #000000;
    color: #c0d0de;
}

* {
    font-weight: normal;
    font-family: posidonsans;
	max-width: 100%;
}

a { text-decoration: none; outline: 0; }

.screenshot {
    display: inline-block;
    background-color: #252627;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: solid rgba(255, 255, 255, 0.15) 1px;
    border-bottom: solid rgba(0, 0, 0, 0.4) 1px;
    border-radius: 25px;
    max-width: 50%;
    width: 256px;
    height: 553px;
    margin: 12px;
    vertical-align: middle;
	animation-name: alpha-in;
	animation-duration: 0.4s;
}

.screenshot.faded {
    display: inline-block;
    background-color: #111213;
    border-radius: 20px;
    max-width: 40%;
    width: 192px;
    height: 414px;
    opacity: 60%;
    vertical-align: middle;
    animation-name: alpha-in-faded;
    animation-duration: 1s;
}

::-moz-selection {
    color: #b0ffff;
    background-color: #003940;
    border-radius: 10px;
}

::selection {
    color: #b0ffff;
    background-color: #003940;
    border-radius: 10px;
}

p {
    text-align: left;
    font-size: 16px;
    animation-name: alpha-in;
    animation-duration: 0.8s;
}

h3 {
	text-align: left;
	color: #ffffff;
	font-size: 20px;
	animation-name: alpha-in;
	animation-duration: 0.6s;
	font-family: 'Lexend Deca', sans-serif;
}

h2 {
	color: #ffffff;
	font-size: 24px;
	display: inline-block;
}

.slogan {
	color: #abbccd;
	font-size: 24px;
	display: inline-block;
	animation-name: alpha-in;
	animation-duration: 0.4s;
	font-family: 'Lexend Deca', sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 56px;
	margin-top: 72px;
	margin-bottom: 32px;
	font-weight: normal;
}

@keyframes b {
    from {
        padding-left: 20px;
        padding-right: 20px;
    } to {
        padding-left: 26px;
        padding-right: 26px;
    }
}
@keyframes bi {
    to {
        padding-left: 20px;
        padding-right: 20px;
    } from {
        padding-left: 26px;
        padding-right: 26px;
    }
}

.topRight {
	animation: bi;
	animation-duration: 0.08s;
    color: #7d828a;
    font-size: 16px;
	background: rgba(13, 18, 22);
	border: solid 1.5px #2d323a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 14px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 56px;
    display: inline-block;
    float: right;
}.topRight:hover {
	animation: b;
	animation-duration: 0.08s;
    padding-left: 26px;
    padding-right: 26px;
}.topRightIcon {
    display: block;
    float: right;
    margin-top: 14px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.btn {
	animation: bi;
	animation-duration: 0.08s;
    color: #d2d8ed;
    font-size: 16px;
	background: rgba(13, 18, 22, 0.67);
	border: solid 1.5px #1d222a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 14px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 56px;
	vertical-align: middle;
}.btn:hover, .btn:active {
	animation: b;
	animation-duration: 0.08s;
    padding-left: 26px;
    padding-right: 26px;
}.btn * {
	vertical-align: middle;
	display: inline;
}.btn.highlighted {
    color: #5388ff;
	background: rgba(17, 85, 255, 0.141);
	border: solid 1.5px #1155ff;
}

.getitongoogleplay {
	animation-name: alpha-in;
	animation-duration: 1.5s;
}

.carousel {
	margin-top: 48px;
	min-height: 550px;
}

.copyright {
	color: #21272d;
	font-size: 14px;
	text-align: center;
}


@keyframes c {
    0% { padding: 0px; }
    100% { padding: 15px; }
}
@keyframes ci {
    0% { padding: 15px; }
    100% { padding: 0px; }
}

.productCard {
	background: rgba(13, 18, 22, 0.67);
	border: solid 1.5px #1d222a;
	border-radius: 18px;
	text-align: left;
	animation: ci;
	animation-duration: 0.1s;
}.productCard * {
	vertical-align: middle;
}.productCard:hover {
	animation: c;
	animation-duration: 0.1s;
	padding: 15px;
}.productCard h2 {
	margin: 4px;
	text-shadow: rgba(0, 0, 10, 0.3) 0 1px 0.5px;
}.productCard p {
	color: rgba(220, 255, 255, 0.5);
	margin: 4px;
	text-shadow: rgba(0, 0, 10, 0.3) 0 1px 0.3px;
}.productCard div { display: inline-block; }
.productCardA {
	display: block;
	width: 100% - 32px;
	max-width: 630px;
	margin-right: 32px;
	margin-left: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
}

.card {
	background: rgba(13, 18, 22, 0.67);
	border: solid 1.5px #1d222a;
	margin-right: 32px;
	margin-left: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 15px;
	border-radius: 18px;
	text-align: left;
	width: 100% - 32px;
	max-width: 630px;
	animation: ci;
	animation-duration: 0.1s;
}.card h2 {
	margin: 4px;
	text-shadow: rgba(0, 0, 10, 0.3) 0 1px 0.5px;
}.card p {
	color: rgba(220, 255, 255, 0.5);
	margin: 4px;
}

.colorS {
	color: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 8px;
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 4px;
}

#colorCardToggle {
	background: rgba(13, 184, 81, 0.3);
	border: none;
	border-radius: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	color: #17c25b;
	float: right;
	font-size: 15px;
}

.desktopWindow {
	background-color: #252932;
	border-top: solid 1px #2d2e38;
	border-bottom: solid 1px #111213;
	border-radius: 6px;
	display: inline-block;
	margin: 24px;
}.desktopWindow img {
	display: block;
	border-radius: 0 0 6px 6px;
}.desktopWindow p {
	color: #8899aa;
	padding: 8px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}


.absoluteCenter {
	text-align: center;
	vertical-align: middle;
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


@media only screen and (max-width: 750px) {
    .screenshot.faded {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
	.topRight {
		animation: none;
	    padding-left: 16px;
	    padding-right: 16px;
		margin-left: 4px;
		margin-right: 4px;
		border-radius: 56px;
		font-size: 14px;
	}.topRight:hover {
		animation: none;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.mobile { display: none; }
@media only screen and (max-width: 580px) {
    .screenshot {
        background-color: #252627;
        border-radius: 20px;
        max-width: 90%;
        width: 256px;
        margin: 0px;
    }
    h1 {
		color: #ffffff;
		font-size: 48px;
		margin-top: 72px;
		margin-bottom: 32px;
		font-weight: normal;
	}
	
    .topRight { display: none; }
    .topRightIcon.mobile { display: block;	}
	
    @keyframes b {
        from {
            padding-left: 22px;
            padding-right: 22px;
        } to {
            padding-left: 26px;
            padding-right: 26px;
        }
    }
    @keyframes bi {
        to {
            padding-left: 22px;
            padding-right: 22px;
        } from {
            padding-left: 26px;
            padding-right: 26px;
        }
    }
	.productCard {
		animation: none;
		margin-right: 0px;
		margin-left: 0px;
		border-radius: 25px;
		width: 100%;
		text-align: center;
	}
	.productCard img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
		margin-bottom: -28px;
	}
	.productCard div { margin: 20px; }
	
	.productCard:hover {
		animation: none;
		padding: 0;
	}
	
	.desktopWindow img {
		border-radius: 6px;
	}.desktopWindow p {
		display: none;
	}
}